services:
  mbsync:
    image: jqtype/mbsync-gmail:latest
    build:
      context: .
      dockerfile: Dockerfile
    container_name: mbsync
    environment:
      - TZ=Asia/Tokyo
      - INTERVAL_SEC=21600   # 6h
      - MBSYNC_CONFIG=/config/mbsyncrc
    volumes:
      - ./config:/config:ro
      - ./mail:/mail
    secrets:
      - gmail_user
      - gmail_app_password
    restart: unless-stopped
    logging:
      options:
        max-size: "10m"
        max-file: "3"

secrets:
  gmail_user:
    file: ./secrets/gmail_user.txt
  gmail_app_password:
    file: ./secrets/gmail_app_password.txt
